[submodule "web05-Denamu"]
	path = web05-Denamu
	url = https://github.com/boostcampwm-2024/web05-Denamu
[submodule "refactor-web05-Denamu"]
	path = refactor-web05-Denamu
	url = https://github.com/boostcampwm-2024/refactor-web05-Denamu
[submodule "Denamu-iac"]
	path = Denamu-iac
	url = https://github.com/Team5-Denamu/Denamu-iac.git
